.task{
    width: 80%;
    padding:10px;
    border:2px solid #808080;
    border-radius:8px;
    margin:0 auto 4px auto; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 400px) {
    .task{
        width:98%;
    }
  }
  

/* Task row1 */

.task-row1{
    display:flex;
    line-height:25px;
}

@media only screen and (max-width: 400px) {
    .task-row1{
        margin-left:0;
    }
  }

/* task Name */
 .task-name input{
    margin-left:10px;
 }

.task-name  span{
    margin-left:10px;
 }

 /* task complete button */
.task-row1 .complete{
    background-color: rgba(217, 42, 42, 0.12);
    width:20px;
    height:20px;
    border-radius:50%;
}

 /* task Icons */
.task-icons{
     justify-content:flex-end;
     margin-left:auto;
     line-height:5px;
 }

.task-icons span{
    padding-left:1rem;
} 

/* task-row2 */
.task-row2{
    display:flex;
    gap:10px;
    width:100%;
    flex-wrap: wrap;
}
/* task deadline */
.task-deadline{
    display:flex;
    margin-left:25px;
    gap:10px;
}

/* Task Edit */
.task-row2 .task-edit .save{
  background-color:rgba(8, 32, 243, 0.75);
  border-radius:5px;
  color:white;
}

.task-row2 .due{
  justify-content:space-around; 
}
/* spacing bw date and time */
.task-row2 span{
   margin-left:1rem;
}


/* task edit */
.task-edit{
    display:flex;
    gap:10px;
}

/* due button */
.due-button{
    margin-left:auto;
    background-color:red;
    border:none;
    border-radius:4px;
    color:white;
}

