.nav-navbar{
    margin-top:-45px;
}

.nav-search-icon{
     height: 100%;
     width: 50%;
     margin-left:15px;
     margin-top:auto;
     margin-bottom:auto;
}

@media only screen and (max-width:716px) {
    .nav-search-icon{
      visibility: hidden;
    }
  }

.nav-search-icon input,.nav-search-icon input:focus-visible{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    width: 250px;
    height: 35px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}

.nav-personal-icon{
    margin-right:50px;
    margin-top:-32px;
    float:right;
}

.nav-personal-icon span{
    padding-left:40px;
} 

