.open-btn{
  color:white;
  margin-left:35px;
  background-color: rgba(126,28,254,1);
  font-weight:400;
  font-size: 15px;
  border:none;
  border-radius:5px;
  height:30px;
  width:60px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 40px;
  width: 400px;
  text-align: left;
  border-radius: 10px;
}

.popup h2 {
  margin-bottom: 20px;
  color: black;
  
}

.popup form label {
  display: block;
  margin-bottom: 10px;
  color: black;
}

.popup form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 5px;
  border: transparent;
  
}
.popup form input:focus{
  outline: none;
}
 
.popup form button[type='submit'] {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: blue;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.close-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: blue;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button-section{
   margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forget-link{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.long-button {
  display: inline-block;
  margin-top: 10px;
  width: 320px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: blue;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .long-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}